       *{
            margin: 0;
            padding: 0;
        }
        div.inner,table{
            position:absolute;
        }
         body{
	         background-image:url(../img/13.jpg) no-repeat;
	         background-size:100%;
         }
        .outer{
            height: 100%;    
        }
        .inner{
	       border: 5px solid rgba(255,255,255,1);
	       border-radius: 20px;
	       width: 370px;
	       height: 340px;
	       top: 40%;
           left: 76%;
	       transform: translate(-50%,-50%);
	       box-shadow:11px 11px 11px rgba(50,50,50,1);	///边框阴影
        }
        .table{
            top: 7%;
            left: 12%;
	        //border: solid;
	        width: 260px;
	        height: 190px;
	        border-spacing:7px;
		}
          .TEXT{
	         height:72%;
	         width: 200px;
	      }
	      